<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      <h1 class="titulo">SkeletonApp</h1>
      <h6 class="sub-titulo">Aqui comienza todo</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <h3>Bienvenido!</h3>
  <ion-card-content>
    <ion-input label="Usuario" labelPlacement="stacked"></ion-input>
    <ion-input label="Contraseña" labelPlacement="stacked" type="password"></ion-input>
    <ion-button expand="full" class="ingreso">Ingresar</ion-button>
  </ion-card-content>
  <a href="#">Olvidé mi contraseña</a>
</ion-content>
